<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item['title'] }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        .item-details {
            margin: 20px;
        }
    </style>
</head> -->

{% extends 'layouts/base.html' %}

{% block title %}Item Details{% endblock %}

{% block content %}
<header>
    <h1>{{ item['title'] }}</h1>
</header>
<main>
    <body>
        <div class="item-details">
            <p><strong>Title:</strong> {{ item['title'] }}</p>
            <p><strong>Currency:</strong> {{ item['currency'] }}</p>            <p><strong>Price:</strong> ${{ item['price'] }}</p>
            <p><strong>Description:</strong> {{ item['description'] }}</p>
            <p><strong>City:</strong> {{ item['city'] }}</p>
            <p><strong>State:</strong> {{ item['state'] }}</p>
            <p><strong>Zip Code:</strong> {{ item['zip_code'] }}</p>
            
            <p><strong>Photo:</strong></p>
            {% if item['photo'] %}
                <p><img src="data:image/jpeg;base64,{{ item['photo'] }}" alt="Item Photo">
                </p>
            {% else %}
                <p>No photo available</p>
            {% endif %}

            <a href="{{ url_for('browse') }}">Back to Items List</a>
        </div>
        <br>
        <div>
            <!-- Delete button -->
            <form action="{{ url_for('delete_listing', item_id=item['id']) }}"
                method="POST"
                onsubmit="return confirm('Are you sure you want to delete this listing?');">
                <input type="submit" value="Delete Listing"
                    class="btn btn-danger">
            </form>
        </div>
    </body>
</main>

{% endblock %}