<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Junkyard - Your Local, Online Junkyard!</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <script src='main.js'></script>
    </head>

    <body>
        <header>
            <h1>Junkyard - Your Local Classifieds 🗑️</h1>
        </header>
        <nav>

        </nav>
        <main>
            <!-- <h2>Junkyard - Your Local Classifieds 🗑️</h2> -->
            <p class="subcaption">
                A no frills approach to buying and selling your items
                No clutter or spam!
            </p>

            <p>
                <!-- <a href="home.html" class="button">Enter</a> -->
                <a href="{{ url_for('home') }}" class="button">Enter</a>

            </p>
            <footer>
                <p>&copy; 2024 Kevin Ho.</p>
            </footer>
        </main>
    </body>
</html>