<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Junkyard - Your Local, Online Junkyard!</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
        <script src='main.js'></script>
    </head>

    <body>
        <nav class="global">
            <a href="home.html">Home</a>
            <a href="search.html">Search</a>
            <a href="browse.html">Browse</a>
            <a href="create_listing.html">Create Listing</a>
            <a href="messages.html">Messages</a>
            <a href="account.html">Account</a>
        </nav>

        <header>
            <h1>Search</h1>
        </header>

        <main>
            <form action="/search" method="GET">
                <label for="search">Search:</label>
                <input type="text" id="search" name="query" placeholder="Enter search term">
                <button type="submit">Search</button>
            </form>
        </main>

        <footer>

        </footer>
    </body>