<nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('search') }}">Search</a>
    <a href="{{ url_for('browse') }}">Browse</a>
    <a href="{{ url_for('create_listing') }}">Create Listing</a>
    <!-- <a href="{{ url_for('messages') }}">Messages</a> -->
    <!-- <a href="{{ url_for('account') }}">Account</a> -->
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('changepass') }}">Change Password</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
    {% endif %}

</nav>